.container {
  width: 100%;
  max-width: 600px;
  display: table;
  margin: 0 auto;
  h2 {
    text-align: center;
  }
  select {
    font-size: 1rem;
    color: #000;
    width: 100%;
    height: 40px;
    text-transform: capitalize;
  }
}
