<div class="container">
  <select [(ngModel)]="keyword">
    <option *ngFor="let item of keywords" [value]="item">{{ item }}</option>
  </select>
  <h2>AutoComplete</h2>
  <ng-autocomplete
    [data]="data$ | async"
    [searchKeyword]="keyword"
    [itemTemplate]="itemTemplate"
    [notFoundTemplate]="notFoundTemplate"
    placeholder="Enter the name"
  >
  </ng-autocomplete>

  <ng-template #itemTemplate let-item>
    <a [innerHTML]="item.name"></a>
  </ng-template>

  <ng-template #notFoundTemplate let-notFound>
    <div [innerHTML]="notFound"></div>
  </ng-template>
</div>
